#textbox1{
    width: 550px;
    position: absolute;
    bottom: 300px;
    left: 250px;
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#textbox2{
    width: 650px;
    position: absolute;
    top: 1060px;
    right: 250px;
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}